<!DOCTYPE html>
<html>

<head>
    <title>Intense Donut</title>
    <script type='text/javascript' src='/static/jquery.min.js'></script>
    <script type='text/javascript' src='/static/d3.v3.js'></script>
    <script type='text/javascript' src='/static/data.js'></script>
    <link type='text/css' rel='stylesheet' href='//fonts.googleapis.com/css?family=Oxygen' />
    <link type='text/css' rel='stylesheet' href='/static/style.css' />
</head>

<body>
    <header>
        <div id="top" style="margin-right:2em;">
            Intense Donut
        </div>
        <div id='title-row' class="filter-frame">
            <div id='inputDiv'>
                <input id='upload' type='file' accept='har'></input>
                <button id="styled_upload">UPLOAD</button>
            </div>
            <div id='selections'>
                <select class="select-filter">
                    <option value="type">MIME Type</option>
                    <option value="status">Status Code</option>
                    <option value="method">Request Method</option>
                    <option value="host">Host</option>
                    <option value="httpVersion">HTTP Version</option>
                </select>
                <select class="select-filter">
                    <option value="host">Host</option>
                    <option value="status">Status Code</option>
                    <option value="type">MIME Type</option>
                    <option value="method">Request Method</option>
                    <option value="httpVersion">HTTP Version</option>
                </select>
                <select class="select-filter">
                    <option value="method">Request Method</option>
                    <option value="status">Status Code</option>
                    <option value="type">MIME Type</option>
                    <option value="host">Host</option>
                    <option value="httpVersion">HTTP Version</option>
                </select>
                <button id="render">Render</button>
            </div>
        </div>
    </header>
    <div id="container" class="data-frame">
        <div id='chart'></div>
        <div id='table' class="table-frame">
            <div id='parents' class="filter-legend"></div>
            <table class="table-data"></table>
        </div>
    </div>
    <div id="allInfo"></div>
</body>

</html>
